body {
  padding-top: 10px;
}

.navbar img {
  border-radius: 50%;
  margin:-10px;
}

.mb-4{
  font-size:85px;
  position:absolute;
  top:65%；
  text-align: center;
  font-family:Georgia, Times New Roman, Times, serif;
  color: #00ff00 !important; 
}

.p-5 {
  background-color:#101210;
  height:800px;
}

.mainlogo {
  float:left;
}

.buttonmain:hover {
  background-color:#00ff00;
}

.col-md-3 {
  top:20%;
  position:absolute;
  right:72%;
}

.logomain {
  top:20%;
  position:absolute;
  right:40%;
  border-radius: 50%;
}

main {
  margin-top: -5px;
}

main h1,
main h2,
main h3, 
main h4, 
main h5, 
main h6, 
main p{
  vertical-align: middle;
  font-family: cursive;
}

.container-fluid {
    background-color: #101210;
}

h2 {
  color:#fc8138;
  font-family: 'Libre Franklin', sans-serif;
  font-size:60px;
}

p{
  color:#00dd00;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:20px;
}

.my-2 {
  color:#fc8138;
  text-shadow: rgb(180, 57, 0) 0.05em 0.05em 0.05em;
}

.orangeline {
  border-top:solid 2px #0f0;
}


.col-md-6 {
  justify-content: center;
  align-content: center;
}

.container-fluid img{
  width: 100%;
    height: 350px;
    object-fit: cover;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
