body {
  padding-top: 10px;
}

.navbar img {
  border-radius: 50%;
  margin:-10px;
}

.navbar {
  padding-right: 4%;
  padding-left: 4%;
}

.fas.fa-user{
  color: #fff !important;
}

/* nav-link active & hover */
ul.navbar-nav .nav-link.active {
  color: #fc8138 !important; 
 }
ul.navbar-nav a:hover {
 color: #00ff00 !important; 
}

ul.navbar-nav .dropdown-item.active {
  color: #fc8138 !important; 
 }
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; background-color: #262626; }
  .navbar .nav-item .dropdown-menu .dropdown-item{ color:#bdbdbd; }
  .navbar .nav-item .dropdown-menu .dropdown-item:hover{ background-color:#262626; }
  .navbar .nav-item .dropdown-menu .dropdown-item:focus{ background-color:#262626; color: #00ff00;}
}

.notice {
  margin-right: 50px;
}

.searchbar .btn.btn-success{
  background-color: #f57226;
}

.searchbar .form-control.rounded:focus{
  border: 1.5px solid #e66d25!important;
  box-shadow: inset 0px 0px 0px 0px #e66d25!important;
  margin-right: 0px;
}

.mb-4{
  font-size:85px;
  position:absolute;
  top:65%;
  left:20%;
  font-family:Georgia, Times New Roman, Times, serif;
  color: #00ff00 !important; 
}

.p-5 {
  background-color:#101210;
  height:800px;
}

.mainlogo {
  float:left;
}

.buttonmain {
  font-size:25px;
  position:absolute;
  top:80%;
  left:43%;
  font-family:Georgia, Times New Roman, Times, serif;
  background-color:#f57226;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  border-width: 0;
}

.buttonmain:hover {
  background-color:#00ff00;
}

.col-md-3 {
  top:20%;
  position:absolute;
  right:72%;
}

.logomain {
  top:20%;
  position:absolute;
  right:40%;
}

main {
  margin-top: -5px;
}

main h1,
main h2,
main h3, 
main h4, 
main h5, 
main h6, 
main p{
  vertical-align: middle;
  font-family: cursive;
}

.container-fluid {
    background-color: #101210;
}

h2 {
  color:#fc8138;
  font-family: 'Libre Franklin', sans-serif;
  font-size:60px;
}

p{
  color:#00dd00;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:20px;
}

.my-2 {
  color:#fc8138;
  text-shadow: rgb(180, 57, 0) 0.05em 0.05em 0.05em;
}

.orangeline {
  border-top:solid 2px #0f0;
}


.col-md-6 {
  justify-content: center;
  align-content: center;
}

.container-fluid img{
  width: 100%;
    height: 350px;
    object-fit: cover;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.btn.btn-primary.fb{
  color:rgb(255, 255, 255);
}

.fb:hover {
color:rgb(255, 255, 255);  
background-color:#2c5ec2;
}
