body {
    background-color:#101210;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}

.fb:hover {
    color:rgb(255, 255, 255);  
    background-color:#2c5ec2;
  }

.insta{
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
  
.follow a{
      color: white;
}
  
.insta:hover {
    margin-top: -3px;
      text-shadow: 0px 7px 6px rgba(0, 0, 0, 0.4);
}
  
h1 {
      color:black;
      font-family: Franklin Gothic Medium;
      font-size:20px;
}

.btn.btn-secondary.btn-floating.mx-1.fb{
    background-color:#2c5ec2;
}

.btn.btn-success.btn-block {
    background-color: #00dd00;
    color:black;
    font-family:Franklin Gothic Medium;
}

.btn.btn-success.btn-block:hover {
    background-color: #f09433;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 90%;
    background-color: transparent !important;
}

/* Start From Here */
.card-title {
   color:#00dd00;
   font-family:Franklin Gothic Medium;
   font-size:80px;
   text-align:center;
   margin-top: -25px;
}

.card-header {
    background-color:#101210;
}


.btn.btn-primary {
    background-color:#00dd00;
    color:black;
    font-family: Franklin Gothic Medium;
    padding:10px;
 }
 
 .btn.btn-primary:hover {
     background-color:#f09433;
  }

label {
    font-size:30px;
    color:#000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center.follow{
    text-align:center;
}

.rowleftright{
    display: flex;
    flex-direction: row;
    border: 3px solid #02eb0d;
    border-radius: 5px;
    padding: 0 !important;
}
.send{
    margin: -10px 0 0 0 ;
    position: absolute;
    left: 79%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sendbtn{
    font-family: Franklin Gothic Medium;
    border: 2px solid #000000;
    background-color:#00dd00;
    color:black;
    padding: 5px 14px;
    margin-left: 10px;
    height:45px;
    width:100px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-size: 18px;
}
    
.sendbtn:hover{
    color:black;
    background-color: #ff8036;
}

.follow{
    margin-top: 40px;
}
.left-body{
    width: 60%;
    padding: 10% 18%;
    color: white;
}
.left-body .title h2{
    font-size: 50px;
    margin: -10px 0 30px 0 ;
}
.right-body{
    width: 40%;
}

.row.right input, .row.right textarea {
    border: none;
    width: 80%;
    margin: 15px auto;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.row.right textarea {
    border: 1px solid #4f30677d;
}
.forms{
    background-color: white;
    border: 1px solid #02eb0d;
    border-radius: 5%;
    padding: 20px 0px;
}
.row.right .col-md-12 h2{
    font-family: Franklin Gothic Medium;
    font-weight:bold;
    text-align: center;
    color: #000000;
}

.icon{
    font-size: 32px;
    color: #02eb0d;
    margin: 20px 0 20px 10px ;
}
.contactInfo .text p{
    margin: -25px 0 0 80px ;
}
.label{
    font-size: 24px;
    margin: 0 0 0 10px;
}
.text.url{
    text-decoration:underline;
    font-size:18px;
}

.invalid-feedback{
    margin-left: 10%;
}