body,header,#intro {
    height:100%;
}

h3 {
    color:#fc8138;
    font-family: 'Libre Franklin', sans-serif;
    font-size:60px;
    text-shadow: rgb(180, 57, 0) 0.05em 0.05em 0.05em;
}

.card-body {
    background-color:#fc8138;
}

.card-title {
    color:#00ff00;
    font-family: 'Libre Franklin', sans-serif;
    font-size:45px;
}

.card-text {
    color:#00ff00;
}

img.chathead {
    width: 340px;
    height: 350px;
}

