body {
    background-color:#101210;
    height:100%;
}

.display-1 {
    font-size:85px;
    font-family: Franklin Gothic Medium;
    color:#00dd00;
}

.reward {
    color:#00dd00;
    font-family: Franklin Gothic Medium;
    border: 2px solid #ff8036;
    background-color:black;
    padding: 5px 14px;
    margin-left: 10px;
    height:25px;
    width:255px;
    border-radius: 30px;
    font-size: 18px;
}

.reward:hover {
    opacity: 0.8;
    border: 2px solid #ff8036;
    background-color:black;
    color:#00d300;
}

.card {
    border: 4px solid #ff8036;
}

.card:hover {
    transform: scale(1.05);
  }

.card-body {
    background-color:black;
    text-align:left;
    padding-top:15px;
}

.card-title {
    font-family: Franklin Gothic Medium;
    font-size:25px;
    color:#ffffff;
    height:65px;
    max-height:70px;
    border-bottom: 2px #ffffff solid;
}

.card-text {
    font-family: Franklin Gothic Medium;
    color:#00dd00;
    font-size:20px;
}

.des {
    font-family: Franklin Gothic Medium;
    color:#ff8036;
    display:inline;
}

.hidden {
    display:none;
}

.rewards {
    color:#00dd00;
    font-family: Franklin Gothic Medium;
    border: 2px solid #ff8036;
    background-color:black;
    padding: 5px;
}

.rewards:hover {
    color:black;
    border: 2px solid #ff8036;
    background-color:#00dd00;
    cursor:copy;
}

body {
    margin:0;
    padding:0;  
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height:100vh;
  }
  
  main {
    flex:1 0 auto;
  }

  .card-tt {
    font-family: Franklin Gothic Medium;
    font-size:25px;
    color:#ff8036;
  }

.headContainer{
    padding: 30px 0 0 0!important;
    margin: 0 5% 0 5%;
}
.rewardContainer{
    border-top: 1px solid white;
    padding: 30px 20px 0 20px !important;
    margin: 0 5% 0 5%;
}

.headContainer h2{
    color:#00dd00;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size:64px !important;
    font-weight: 500 !important;
    text-align:left;
    padding-top: 10px;
}

.empty{
    min-height: 500px;
}
.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    max-width: 900px
  }
  
.slide-right.h2{
      animation: slide-right 0.5s forwards;
      transform:translateX(-100%);
      padding-left: 0;
      margin-left: 0px;
      padding-top: 20px;
  }
  
@keyframes slide-right {
    to {
        transform:translateX(0);
    }
}
  
.slide-right{
    padding: 0 5% 0 5%;
}