body,#intro {
    height:100%;
}

.membercontainer{
    padding: 0 5% 0 5%;
}

h2{
    color:#00dd00;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size:58px !important;
    font-weight: 500 !important;
    text-align:left;
    padding-top: 10px;
}

.wholecard{
    border-top: 1px solid white;
    padding-top: 30px;
    margin-top: -20px;
}

body{
    background-color: #101210;
}

.card-body {
    background-color:#fc8138;
}

.card-title {
    color:black;
    font-family: 'Libre Franklin', sans-serif;
    font-size:45px;
    text-align:center;
    text-decoration: solid;
}

.card-text {
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    padding:10px;
    font-size:25px;
    color:rgb(64, 63, 63);
}

img.chathead {
    width: 340px;
    height: 350px;
    border-radius:50%;
}

.orangeline {
    border:1px solid #fc8138;
}

.img {
    width:100px;
    height:100px;
}

.card:hover{
    transform: scale(1.05); 
  }

.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    max-width: 900px
  }
  
.slide-right.h2{
      animation: slide-right 0.5s forwards;
      transform:translateX(-100%);
      padding-left: 0;
      margin-left: 0px;
      padding-top: 20px;
  }
  
@keyframes slide-right {
    to {
        transform:translateX(0);
    }
}
  
.slide-right{
    padding: 0 5% 0 5%;
}