body,header,#intro {
    height:100%;
}

h3 {
    color:#fc8138;
    font-family: 'Libre Franklin', sans-serif;
    font-size:60px;
    text-shadow: rgb(180, 57, 0) 0.05em 0.05em 0.05em;
}

.card-body {
    background-color:#fc8138;
}

.card-title {
    color:black;
    font-family: 'Libre Franklin', sans-serif;
    font-size:45px;
    text-align:center;
    text-decoration: solid;
}

.card-text {
    color:black;
    font-family:'Libre Franklin', sans-serif;
    text-align:center;
    padding:10px;
}

img.chathead {
    width: 340px;
    height: 350px;
}

.my-2 {
    text-align:center;
    font-size:100px;
}

.orangeline {
    border:1px solid #fc8138;
}

.img {
    width:100px;
    height:100px;
}

.card:hover{
    transform: scale(1.05);
    
  }

