body {
    background-color:#101210;
    height:100%;
}


.strongname {
    color:#ff8036;
    font-weight:bold;
}

.Titles {
    color:#ff8036;
    font-size:24;
    font-weight:bold;
}
.Titles:nth-child(3),.Titles:nth-child(4){
    padding-bottom: 20px;
}
.Titles:nth-child(3){
    padding-top: 10px;
}

.des {
    color:#00dd00;
    font-size:18px;
    font-weight: 500 !important;
}

.images {
   border-radius:5px;
}

.confirm {
    color:#00dd00;
}

.pointsTitle{
    color:#ff8036;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500 !important;
}

.orange{
    color:#00dd00;
    font-style:oblique;
    font-family: Franklin Gothic Medium;
    font-size: 18px;
}

  .hidden{
    display:none;
  }

  .reward {
    color:#00dd00;
    font-family: Franklin Gothic Medium;
    border: 2px solid #ff8036;
    background-color:black;
    padding: 5px 14px;
    margin-left: 10px;
    height:25px;
    width:255px;
    border-radius: 30px;
    font-size: 18px;
}

.reward:hover {
    opacity: 0.8;
    border: 2px solid #ff8036;
    background-color:black;
    color:#00d300;
}
.pagetitle{
    color:#00dd00;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size:58px !important;
    font-weight: 500 !important;
    padding-top: 20px;
    text-align:left;
}

.headContainer{
    padding: 30px 0 0 0!important;
    margin: 0 5% 0 5%;
}

.session-row{
    max-width: 90% !important;
}

.session-container{
    border-top: 1px solid white;
    padding-top: 20px;
    margin: 0;
}

#redeemBtn{
    font-family: Franklin Gothic Medium;
    border: 2px solid #000000;
    background-color:#00dd00;
    color:black;
    padding: 5px 14px;
    margin-left: 10px;
    height:45px;
    width:105px;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 30px;
}

#redeemBtn:hover{
    color:black;
    background-color: #ff8036;
}

.rewardDetail{
    min-height: 580px;
}
.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    max-width: 900px
  }
  
.slide-right.h2{
      animation: slide-right 0.5s forwards;
      transform:translateX(-100%);
      padding-left: 0;
      margin-left: 0px;
      padding-top: 20px;
  }
  
@keyframes slide-right {
    to {
        transform:translateX(0);
    }
}
  
.slide-right{
    padding: 0 5% 0 5%;
}