body {
    background-color:#101210;
    height:100%;
}

.TitlesRL {
    font-size:48px;
    font-family: Franklin Gothic Medium;
    color:#00dd00;
    
}

.totalpoints {
    color:#00dd00;
    font-size:20px;
}

.reward {
    color:black;
    font-family: Franklin Gothic Medium;
    border: 2px solid #ff8036;
    background-color:#00dd00;
    padding: 5px;
}

.reward:hover {
    background-color:#ff8036;
    color:black;
    border: 2px solid #00dd00;
}

.card {
    border: 4px solid #ff8036;
    height:500px;
    max-height:600px;
}

.card:hover {
    transform: scale(1.05);
  }

.card-body {
    background-color:black;
    text-align:left;
    padding-top:15px;
}

.card-title {
    font-family: Franklin Gothic Medium;
    font-size:25px;
    color:#00dd00;
    height:65px;
    max-height:70px;
    border-bottom: 2px #00dd00 dotted;
}

.hidden {
    display:none;
}

.text-secondary {
    font-family: Franklin Gothic Medium;
}

.card-text {
    font-family: Franklin Gothic Medium;
    color:#00dd00;
}

.des {
    font-family: Franklin Gothic Medium;
    color:#ff8036;
}

.btn.btn-primary {
   background-color:#00dd00;
   color:black;
   font-family: Franklin Gothic Medium;
   padding-top:10px;
}

.btn.btn-primary:hover {
    background-color:#ff8036;
 }

 .buttoncenter {
   justify-content: center;
   text-align:center;
   position: absolute;
   top:90%;
   left:35%;
 }
 
 .userpoints {
    color:#ff8036;
    font-size:25px;
    font-weight:bold;
 }

 .searchbar{
    padding:5px;
    display:flex;
    justify-content: flex-end;
}

.search {
    border: 2px #ff8036 solid;
    border-radius:20px;
    outline:0;
    background-color: transparent;
    color:#00dd00;
    padding:8px;
    font-family: Franklin Gothic Medium;

}

.search::placeholder{
    color:#00dd00;
    font-family: Franklin Gothic Medium;
}

body {
    margin:0;
    padding:0;  
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height:100vh;
  }
  
  main {
    flex:1 0 auto;
  }

.col-md-12.text-center.mt-4{
    color:#ff8036;
    font-family: Franklin Gothic Medium;
    font-size:32px;
}

  
 

